@{
    ViewData["Title"] = "Finance Samples";
}
<h1>Финансовые мелочи</h1>
<ul>
    <li><a asp-controller="Home" asp-action="Credit">Расчет платежей по кредиту</a></li>
    <li><a asp-controller="Home" asp-action="Deposit">Расчет дохода по депозиту</a></li>
</ul>
